.mat-card {
    width: 350px;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    margin-top:10%;
    text-align: -webkit-center;
  };

  .example-full-width{
      width: 100%;
  }
