<mat-card>
  <mat-card-title>User List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        <h3 mat-line>{{user.firstName}} {{user.lastName}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
